[submodule "cs61b/main"]
	path = cs61b/main
	url = https://github.com/Berkeley-CS61B-Student/sp19-s415.git
[submodule "proj3"]
	path = proj3
	url = https://github.com/Berkeley-CS61B-Student/sp19-proj3-s351-s415.git
[submodule "proj0"]
	path = proj0
	url = https://github.com/Berkeley-CS61B-Student/sp19-proj0-s90-s415
